/* 
    Created on : 1-Mar-2018, 3:03:00 PM
    Author     : Nathan N


Colors
--------------------------
Main White: f5f5f5
Main White Darker: efefef
Main blue: 2d82fb
Main blu darker: 0952c8
Main Dark: 1d1d1d
Off Grey: 4f4f4f
Disabled: c5c5c5
--------------------------
*/


* {
    margin: 0;
    padding: 0;
    color: #1d1d1d;
    box-sizing: border-box;
    font-family: Raleway;
    text-decoration: none;
    transition: .2s;
}

h1 {
    font-weight: 300;
}

a:hover {
    color: #2d82fb;
}

.color-primary{
    color: #2d82fb;
}

.main-content{
    width: 80%;
    margin: 0 auto;
}

nav {
    background-color: #efefef;
    width: 100%;
    position: fixed;
    z-index: 999;
}

nav img {
    width:64px;
    vertical-align: middle;
}

nav p {
    display: inline-block;
    font-size: 32px;
    color: #2d82fb;
    vertical-align: middle;
}

#navLinks {
    float: right;
}

#navLinks a {
    display:inline-block;
    margin-top: 20px;
    vertical-align: middle;
    padding: 0 10px;
}

.tabcontent {
    display: none;
}

label{
    margin: 0 15px;
}

.center-hack {
    display: block;
    margin: auto;
}