<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css" />
        <link rel="stylesheet" type="text/css" href="includes/main.css"></link>
    </h:head>
    <h:body>
            <h:form>
                <p:panelGrid columns="2">
                    Flight Number :<p:inputText size="5" value="#{flight.flightNumber}" />
                    Airline Name :<p:inputText size="11" value="#{flight.airlineName}" />
                    Departure Airport Code :<p:inputText size="3" value="#{flight.depIATA}" />
                    Arrival Airport Code :<p:inputText size="3" value="#{flight.arvlIATA}" />
                    Date and Time of Departure :<p:calendar value="#{flight.depDate}" pattern="HH:mm:ss"></p:calendar>
                    Date and Time of Arrival :<p:calendar value="#{flight.arvlDate}" pattern="HH:mm:ss"></p:calendar>
                    Total Flying Time :<p:calendar value="#{flight.totalFlightTime}" pattern="HH:mm:ss"></p:calendar>
                    Flight Status :<p:inputText size="20" value="#{flight.status}" />
                    Total Number of Seats :<p:inputText size="5" value="#{flight.totalSeatAmnt}" />          
                    Total Number of Available Seats :<p:inputText size="5" value="#{flight.totalAvailableSeat}" />          
                    <p:commandButton value="Add flight" action="#{userData.addFlight()}" ajax="false" />

                </p:panelGrid>
            </h:form>
    </h:body>
</html>

