<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css" />
        <link rel="stylesheet" type="text/css" href="includes/main.css"></link>
    </h:head>
    <h:body>
        <nav>
            <div class="main-content">
                <img src="img/logos/plane.png"></img>
                <p>FLIGHT HUB</p>
                <div id="navLinks">
                    <a href="addFlight.xhtml">Add Flight</a>
                    <a href="#" onclick="openTab(event, 'Modify')">Modify Flight</a>
                    <a href="#" onclick="openTab(event, 'Delete')">Delete a flight</a>
                    <a href="#" onclick="openTab(event, 'Cancel')">Cancel a flight</a>
                </div>
            </div>
        </nav>
        <div style="height: 128px;"></div>
        <div class="main-content">
            <div class="ui-g">
                <div class="ui-g-2"></div>
                <h:form>

                    <p:outputLabel for="from" value="From: " />
                    <p:selectOneMenu id="from" value="#{userData.depairport}" effect="fold" editable="true">
                        <f:selectItems value="#{userData.airports}" var="a" itemValue="#{a.iata}" itemLabel="#{a.city}" />    
                    </p:selectOneMenu>

                            <p:outputLabel for="to" value="To: " />
                    <p:selectOneMenu id="to" value="#{userData.arrairport}" effect="fold" editable="true">
                        <f:selectItems value="#{userData.airports}" var="a" itemValue="#{a.iata}" itemLabel="#{a.city}" />    
                    </p:selectOneMenu>    
                    
                    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                        <p:outputLabel for="rdoReturn" value="" />
                        <p:selectOneRadio id="rdoReturn" value="#{userData.flightDirection}">
                            <f:selectItem itemLabel="Return" itemValue="Return" />
                            <f:selectItem itemLabel="One-Way" itemValue="OneWay" />
                        </p:selectOneRadio>
                                
                    </h:panelGrid>

                    <p:outputLabel for="depDate" value="Departure Date" />
                    <p:calendar id="depDate" value="#{userData.depDate}" />
                            
                    <p:outputLabel for="retDate" value="Return Date" />
                    <p:calendar id="retDate" value="#{userData.retDate}" />
                            
                    <h:panelGrid columns="1" cellpadding="5">
                            <p:outputLabel value="Number of Passengers" />
                            <p:selectOneMenu id="adults" value="#{userData.adultNum}" effect="fold" editable="false">
                                <f:selectItem itemValue="0" itemLabel="0 adults (12+)" />
                                <f:selectItem itemValue="1" itemLabel="1 adult (12+)" /> 
                                <f:selectItem itemValue="2" itemLabel="2 adults (12+)" /> 
                                <f:selectItem itemValue="3" itemLabel="3 adults (12+)" /> 
                                <f:selectItem itemValue="4" itemLabel="4 adults (12+)" /> 
                                <f:selectItem itemValue="5" itemLabel="5 adults (12+)" /> 
                                <f:selectItem itemValue="6" itemLabel="6 adults (12+)" /> 
                            </p:selectOneMenu>
                            <p:selectOneMenu id="children" value="#{userData.childNum}" effect="fold" editable="false">
                                <f:selectItem itemValue="0" itemLabel="0 children (3-11)" />
                                <f:selectItem itemValue="1" itemLabel="1 child (3-11)" />
                                <f:selectItem itemValue="2" itemLabel="2 children (3-11)" />
                                <f:selectItem itemValue="3" itemLabel="3 children (3-11)" />
                                <f:selectItem itemValue="4" itemLabel="4 children (3-11)" />
                                <f:selectItem itemValue="5" itemLabel="5 children (3-11)" />
                                <f:selectItem itemValue="6" itemLabel="6 children (3-11)" />
                            </p:selectOneMenu>
                            <p:selectOneMenu id="infants" value="#{userData.infantNum}" effect="fold" editable="false">
                                <f:selectItem itemValue="0" itemLabel="0 infants (0-2)" />
                                <f:selectItem itemValue="1" itemLabel="1 infant (0-2)" />
                                <f:selectItem itemValue="2" itemLabel="2 infants (0-2)" />
                                <f:selectItem itemValue="3" itemLabel="3 infants (0-2)" />
                                <f:selectItem itemValue="4" itemLabel="4 infants (0-2)" />
                                <f:selectItem itemValue="5" itemLabel="5 infants (0-2)" />
                                <f:selectItem itemValue="6" itemLabel="6 infants (0-2)" />
                            </p:selectOneMenu>
                           
                            <p:outputLabel value="Ticket Class" />
                            <p:selectOneMenu id="ticket" value="#{userData.ticketClass}" effect="fold" editable="false">
                                <f:selectItem itemValue="0" itemLabel="Economy" />
                                <f:selectItem itemValue="1" itemLabel="Business" /> 
                                <f:selectItem itemValue="2" itemLabel="First Class" /> 
                               
                            </p:selectOneMenu>
                            </h:panelGrid>
                            
                    <h:commandButton value="Search for Flight" type="submit" actionListener="#{userData.searchFlights()}"></h:commandButton>
                
                    </h:form>
                
                <div class="ui-g-2"></div>
                <div>
                     Should i use a data table to do display the results of my search function, or should i redirect to another page \? 
                    <p:dataTable value="#{userData.flights}" var="ff" >

                            <p:column>
                                <f:facet name="header">Departs</f:facet>
                                <p:calendar value="#{ff.depDate}" pattern="HH:mm:ss"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">Arrives</f:facet>
                                <p:calendar id="ArrTime" value="#{ff.arvlDate}" pattern="HH:mm:ss"/>
                            </p:column>                            
                            
                            <p:column>
                                <f:facet name="header">Flight Number</f:facet>
                                <p:inputText value="#{ff.flightNumber}" />
                            </p:column>
                        
                            <p:column>
                                <f:facet name="header">Details</f:facet>
                                <p:button icon="ui-icon-caret-1-s"/>
                            </p:column>
                            
                        
                                <p:column>
                                    <f:facet name="header">Economy</f:facet>
                       
                                     <p:selectOneRadio  id="rdoReturn" value="">
                                    <f:selectItem itemLabel="$350" itemValue="1" />
                                </p:selectOneRadio>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">Business</f:facet>
                                     <p:selectOneRadio id="rdo2" value="">
                                    <f:selectItem itemLabel="$402" itemValue="2" />
                                </p:selectOneRadio>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">First Class</f:facet>
                                     <p:selectOneRadio id="rdo3" value="">
                                    <f:selectItem itemLabel="$512" itemValue="3" />
                                </p:selectOneRadio>
                                </p:column>
                          
                            
                      
                    </p:dataTable>
                </div>
            </div>
        </div>
    </h:body>
</html>

