<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css" />
        <link rel="stylesheet" type="text/css" href="includes/main.css"></link>
    </h:head>
    <h:body>
        <nav>
            <div class="main-content">
                <img src="img/logos/plane.png"></img>
                <p>FLIGHT HUB</p>
                <div id="navLinks">
                    <a href="addFlight.xhtml">Add Flight</a>
                    <a href="#" onclick="openTab(event, 'Modify')">Modify Flight</a>
                    <a href="#" onclick="openTab(event, 'Delete')">Delete a flight</a>
                    <a href="#" onclick="openTab(event, 'Cancel')">Cancel a flight</a>
                </div>
            </div>
        </nav>
        <div style="height: 128px;"></div>
        <div class="main-content">
            <div class="tabcontent" style="display: block;">
                <h1>Please choose an option</h1>
                <a href="browseTickets.xhtml">Or browse available tickets</a>
            </div>
            
            <div id="Modify" class="tabcontent">
                <h1 class="color-primary">Modify a flight</h1>
                <hr></hr>
                <br></br>
                <h:form>
                    <h:outputLabel>Flight Id</h:outputLabel>
                    <p:inputText value="#{userData.flightNumber}" required="true" />
                    <p:commandButton value="Retrieve" ajax="false" 
                                     actionListener="#{userData.getFlightById(userData.flightNumber)}"/>

                    <p:dataTable value="#{userData.flights}" var="flight1" rendered="true">
                        
                            <p:column>
                                <f:facet name="header">Id</f:facet>
                                <p:inputText value="#{flight1.flightNumber}" />
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">Departure Date</f:facet>
                                <p:calendar value="#{flight1.depDate}" pattern="HH:mm:ss"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">Arrival Date</f:facet>
                                <p:calendar id="ArrTime" value="#{flight1.arvlDate}" pattern="HH:mm:ss"/>
                            </p:column>                            
                            
                            <p:column>
                                <f:facet name="header">Total Flight Time</f:facet>
                                <p:calendar id="totalFlightTime" value="#{flight1.totalFlightTime}" pattern="HH:mm:ss"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">Status</f:facet>
                                <p:inputText id="status" value="#{flight1.status}" />
                            </p:column>
                           
                            <p:column>
                                <f:facet name="header">Total Seat Amount</f:facet>
                                <p:inputText id="totalSeatAmnt" value="#{flight1.totalSeatAmnt}" />
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">Total Available Seat</f:facet>
                                <p:inputText id="totalAvailableSeat" value="#{flight1.totalAvailableSeat}" />
                            </p:column>
                            
                            
                      
                    </p:dataTable>
                    <p:commandButton value="Update flight" 
                                     actionListener="#{userData.modifyFlightEx()}" ajax="false" />
                </h:form>
            </div>
            
            <div id="Delete" class="tabcontent">
                <h1 class="color-primary">Delete a flight</h1>
                <h:form>
        <h:outputLabel>Flight Id</h:outputLabel>
        <p:inputText value="#{userData.flightNumber}" required="true" />
        <p:commandButton value="Retrieve" ajax="false" 
                         actionListener="#{userData.getFlightById(userData.flightNumber)}"/>

        <p:dataTable value="#{userData.flights}" var="flight1" rendered="true">

                <p:column>
                    <f:facet name="header">Id</f:facet>
                    <p:inputText value="#{flight1.flightNumber}" />
                </p:column>

                <p:column>
                    <f:facet name="header">Departure Date</f:facet>
                    <p:calendar value="#{flight1.depDate}" pattern="HH:mm:ss"/>
                </p:column>

                <p:column>
                    <f:facet name="header">Arrival Date</f:facet>
                    <p:calendar id="ArrTime" value="#{flight1.arvlDate}" pattern="HH:mm:ss"/>
                </p:column>                            

                <p:column>
                    <f:facet name="header">Total Flight Time</f:facet>
                    <p:calendar id="totalFlightTime" value="#{flight1.totalFlightTime}" pattern="HH:mm:ss"/>
                </p:column>

                <p:column>
                    <f:facet name="header">Status</f:facet>
                    <p:inputText id="status" value="#{flight1.status}" />
                </p:column>

                <p:column>
                    <f:facet name="header">Total Seat Amount</f:facet>
                    <p:inputText id="totalSeatAmnt" value="#{flight1.totalSeatAmnt}" />
                </p:column>

                <p:column>
                    <f:facet name="header">Total Available Seat</f:facet>
                    <p:inputText id="totalAvailableSeat" value="#{flight1.totalAvailableSeat}" />
                </p:column>



        </p:dataTable>
        <p:commandButton value="Delete flight" 
                         actionListener="#{userData.deleteFlight()}" ajax="false" />
    </h:form>
            </div>
            
            <div id="Cancel" class="tabcontent">
                <h1 class="color-primary">Cancel a flight</h1>
                <h:form>
        <h:outputLabel>Flight Id</h:outputLabel>
        <p:inputText value="#{userData.flightNumber}" required="true" />
        <p:commandButton value="Retrieve" ajax="false" 
                         actionListener="#{userData.getFlightById(userData.flightNumber)}"/>

        <p:dataTable value="#{userData.flights}" var="flight1" rendered="true">

                <p:column>
                    <f:facet name="header">Id</f:facet>
                    <p:inputText value="#{flight1.flightNumber}" />
                </p:column>

                <p:column>
                    <f:facet name="header">Departure Date</f:facet>
                    <p:calendar value="#{flight1.depDate}" pattern="HH:mm:ss"/>
                </p:column>

                <p:column>
                    <f:facet name="header">Departure Airport</f:facet>
                    <p:inputText value="#{flight1.depIATA}" />
                </p:column>
            
                <p:column>
                    <f:facet name="header">Arrival Date</f:facet>
                    <p:calendar id="ArrTime" value="#{flight1.arvlDate}" pattern="HH:mm:ss"/>
                </p:column>                            

                <p:column>
                    <f:facet name="header">Arrival Airport</f:facet>
                    <p:inputText value="#{flight1.arvlIATA}" />
                </p:column>            
            
                <p:column>
                    <f:facet name="header">Total Flight Time</f:facet>
                    <p:calendar id="totalFlightTime" value="#{flight1.totalFlightTime}" pattern="HH:mm:ss"/>
                </p:column>

                <p:column>
                    <f:facet name="header">Status</f:facet>
                    <p:inputText id="status" value="#{flight1.status}" />
                </p:column>

                <p:column>
                    <f:facet name="header">Total Seat Amount</f:facet>
                    <p:inputText id="totalSeatAmnt" value="#{flight1.totalSeatAmnt}" />
                </p:column>

                <p:column>
                    <f:facet name="header">Total Available Seat</f:facet>
                    <p:inputText id="totalAvailableSeat" value="#{flight1.totalAvailableSeat}" />
                </p:column>



        </p:dataTable>
        <p:commandButton value="Cancel flight" 
                         actionListener="#{userData.cancelFlight()}" ajax="false" />
    </h:form>
            </div>
        </div>
        <script type="text/javascript" src="includes/main.js"></script>
    </h:body>
</html>

