<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Make reservation</h1>
        <h:form>
            
            <h3>passenger details</h3>
            <p:dataTable value="#{userData.traveler}" var="traveler" rendered="true">

                <p:column>
                    <f:facet name="header">First Name</f:facet>
                    <p:inputText value="#{traveler.firstName}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Middle Name</f:facet>
                    <p:inputText value="#{traveler.lastName}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Last Name</f:facet>
                    <p:inputText value="#{traveler.lastName}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Gender</f:facet>
                    <p:inputText value="#{traveler.gender}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Phone Number</f:facet>
                    <p:inputText value="#{traveler.phoneNumber}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Country of passport</f:facet>
                    <p:inputText value="#{traveler.passport}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Date of birth</f:facet>
                    <p:inputText value="#{traveler.dob}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Frequent Flyer</f:facet>
                    <p:inputText value="#{traveler.frequenFlyer}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Other special needs</f:facet>
                    <p:inputText value="#{traveler.specialNeeds}" />
                </p:column>

            </p:dataTable>
            
            <h3>Credit card info</h3>
            <p:dataTable value="#{userData.payment}" var="payment" rendered="true">

                <p:column>
                    <f:facet name="header">Credit card type</f:facet>
                    <p:inputText value="#{payment.ccType}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Credit card number</f:facet>
                    <p:inputText value="#{payment.ccNum}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Credit card Holder's name</f:facet>
                    <p:inputText value="#{payment.ccName}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Credit card expiry</f:facet>
                    <p:inputText value="#{payment.ccExpire}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Credit card security code</f:facet>
                    <p:inputText value="#{payment.ccSec}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Address line 1</f:facet>
                    <p:inputText value="#{payment.addLine1}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Address line 2</f:facet>
                    <p:inputText value="#{payment.addLine2}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Postal code</f:facet>
                    <p:inputText value="#{payment.postalCode}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">email</f:facet>
                    <p:inputText value="#{payment.email}" />
                </p:column>
                
                <p:column>
                    <f:facet name="header">Total cost</f:facet>
                    <h:outputLabel value="#{payment.ccType}" />
                </p:column>
                
            </p:dataTable>           
            <p:commandButton value="Make Reservation" actionListener="#{userData.createRes()}" ajax="false" />
        </h:form>
        
        <h4>Reservation Details: </h4>
        <!-- details appear here -->
    </body>
</html>
